@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

/* .kantumruy-pro-<uniquifier> {
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* styles/fonts.css */
@font-face {
  font-family: 'Kantumruy Pro';
  src: url('/path-to-your-fonts/Kantumruy-Pro.woff2') format('woff2'),
       url('/path-to-your-fonts/Kantumruy-Pro.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Kantumruy Pro';
  src: url('/path-to-your-fonts/Kantumruy-Pro-Bold.woff2') format('woff2'),
       url('/path-to-your-fonts/Kantumruy-Pro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

